html {
  font-family: sans-serif;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


body{
  background-image: white;
  background-size: 740px;
  background-attachment: fixed;
  border: none;
  background-size: 720px;
  margin: 0px

}


nav{
  background: #2c3e50;
  height: 80px;
  width: 100%;
 

}
label.logo{
  color: white;
  font-size: 50px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 30px;
  line-height: 80px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 20px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #2c3e50;
  }
  #check:checked ~ ul{
    left: 0;

  }

}
section{
  background-size: cover;
 
  height: calc(100vh - 80px);
 
}
*, *:before, *:after {
  box-sizing: border-box;
  }
  
  body {
  font-family: poppins;
  margin: 0;
  display: grid;
  font-size: 14px;
  }
  header p {
  padding: 50px;
  text-align: center;
  color: #bebebe;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
  }
  .footer {
  position: absolute;
  left: 0px;
  bottom: -380px;
  height: 250px;
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
  color: #fff;
  background-color: #2c3e50
  
  }
  
  .footer > * {
  flex:  1 100%;
  }
  
  .l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
  }
  
  h2 {
  font-weight: 400;
  font-size: 15px;
  }
  
  .footer ul {
  list-style: none;
  padding-left: 0;
  }
  
  .footer li {
  line-height: 2em;
  }
  
  .footer a {
  text-decoration: none;
  }
  
  .r-footer {
  display: flex;
  flex-flow: row wrap;
  }
  
  .r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
  }
  
  .box a {
  color: #1b9bff;
  }
  
  .h-box {
  column-count: 2;
  column-gap: 1.25em;
  }
  
  .b-footer {
  text-align: center;
  color: white;
  padding-top: 50px;
  }
  
  .l-footer p {
  padding-right: 18%;
  color: white;
  }   
  
  @media screen and (min-width: 600px) {
  .r-footer > * {
  flex: 1;
  }
  
  .features {
  flex-grow: 2;
  }
  
  .l-footer {
  flex: 1 0px;
  }
  
  .r-footer {
  flex: 2 0px;
  }
  }
  
  .content{
    position: absolute;
    height: auto;
    width: 80%;
    top: 80px;
    left: 8px;
    
    min-height: 100%;
    margin: 15px 10% 15px 10%;

  }

  #contenedor {
    position: absolute;
    height: auto;
    width: 80%;
    top: 0px;
    left: 0px;
    background-color: gray;
    min-height: 50%;
    margin: 15px 10% 15px 10%;
    text-align: center;
    
  }

  .contenedor-form {
    width: 100%;
    text-align: center;
  }

  .foto1{
    float: left;
    width: 30%;
  }
  
  .foto2{
    float: right;
    padding: 20px;
    width: 67%;
  }

  .foto3{
    float: left;
    padding-top: 15px;
    width: 30%;
  }

  .foto4{
    float: left;
    padding: 10px;
    width: 30%;
  }

  .color1 {
    background-color: red;
  }
  .color2 {
    background-color: orange;
  }
  .color3 {
    background-color: blue;
  }


  .ropa {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
    background-color: rgb(199, 216, 202);
    border-width: 5px;
    border-color: darkblue;
  }

  .ropa1 {
    border-width: 5px;
    border-color: darkorchid;
  }

  .ropa2 {
    border-width: 5px;
    border-color: darkorchid;
  }

  .ropa3 {
    border-width: 5px;
    border-color: darkorchid;
  }

  .ropa4 {
    border-width: 5px;
    border-color: darkorchid;
  }



.logo1 {
  padding-left: 20px;
  
}



*{
  margin: 0px;
  padding: 0px;
}

form{
  width: 400px;
  height: auto;
  background: #7a7a7a;
  padding: 10px;
}

#nombre{
  width: 100%;
  height: 30px;
}
#email{
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

#textarea{
  width: 100%;
  margin: auto;
  margin-top: 5px;
}

#button{
  width: 100%;
  height: 36px;
  background: #fff;
}

.cuerpo {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  text-align: justify;
  padding: 10px 15px 10px 15px;
}

.flex {
  flex-wrap: wrap;
  flex-direction: column;
}
